<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
    <script src='/bundle.js'></script>
    <link rel="stylesheet" href="styles/main.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id='header'>
      <h1>NZ Weather</h1>
    </div>
    <section id="allthestuff">
      <div id='options'>
        <form action="change-city" method="post">
          <label for="city">Choose a City</label>
          <br>
          <select name="city">
            <option value="wellington">Wellington</option>
            <option value="Auckland">Auckland</option>
            <option value="Christchurch">Christchurch</option>
            <option value="Dunedin">Dunedin</option>
            <option value="wakefield">Wakefield</option>
          </select>
          <br>
          <input type="submit" id="submit">
        </form>
      </div>
      <div id='display'>
        <div id='weather-data'></div>
      </div>
    </section>
    
    
  </body>
</html>

