<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
    <script src='/bundle.js'></script>
    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    <div id='header'>
      <h1>NZ Weather</h1>
    </div>
    <section id="allthestuff">
      <div id='options'></div>
      <div id='display'></div>
    </section>
    
    {{{body}}}
  </body>
</html>
