/*
Main #F9F7F7
Secondary #DBE2EF
Trim #3f72af
Highlight #112D4E 
*/


* {
  margin: 0;
  
}

/* Main Sections */

#header {
  width: 100%;
  height: 20vh;
  font-family: 'Courgette', cursive;
}



#allthestuff {
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-flow: row;
  height: 80vh;
}

#options {
  
  width: 50%;
}

#display {

  width: 50%;
}

/* Images */

#background{
  position: fixed;
  width: 100vw;
  z-index: -1;
  top: -25%
}

#sun {
  position: fixed;
  top: 0;
  right: 0;
  height: 20vh;
}