/*
Main #F9F7F7
Secondary #DBE2EF
Trim #3f72af
Highlight #112D4E 
*/


* {
  margin: 0;
  
}

/* Main Sections */

#header {
  width: 100%;
  height: 20vh;
  font-family: 'Courgette', cursive;
}



#allthestuff {
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-flow: row;
  height: 80vh;
}

#options {
  
  width: 50%;
}

#display {

  width: 50%;
}

/* Images */

#background{
  position: fixed;
  width: 100vw;
  z-index: -1;
  top: -25%
}

#sun {
  position: fixed;
  top: 0;
  right: 0;
  height: 20vh;
  animation: sunscale 1s infinite ease-in;
}
@keyframes sunscale {
  33%   {transform: rotate(15deg);}
  66% {transform: rotate(-15deg);}
  100% {transform: rotate(0deg);}
}

#cloud {    
  position: absolute;
  top: 0;
  left: 0;
  height: 28vh;
  animation: cloudscale 8s forwards;
}

@keyframes cloudscale
{
    from {
        left: -10;
    }
    to {
        left: 80%;
    }
    0% {transform: rotate(10deg);}
    10% {transform: rotate(-10deg);}
    20% {transform: rotate(10deg);}
    30% {transform: rotate(-10deg);}
    40% {transform: rotate(10deg);}
    50% {transform: rotate(-10deg);}
    60% {transform: rotate(10deg);}
    70% {transform: rotate(-10deg);}
    80% {transform: rotate(0deg);}
    100% {transform: rotate(0deg);}
}